.preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title-container {
        height: 10vh;

        .title {
            width: fit-content;
            font-size: 28px;
            margin-bottom: 25px;
            text-decoration: underline;
            cursor: pointer;
            transition: font-size 0.7s ease-in-out;
    
            &:hover {
                font-size: 35px;
            }
        }
    }


    .section-preview {
        display: flex;
        justify-content: space-between;
    }
}